extends ../layout



block content
  link(rel='stylesheet', href='/stylesheets/home.css')
  - var sampleTitle = ['Intro to MapView - Create a 2D Map | Sample | ArcGIS Maps SDK for JavaScript 4.25']

  - const sampleHref = ['/sample/1']

  - const sampleUrl = ['https://developers.arcgis.com/javascript/latest/sample-code/intro-mapview/index.html']

  div(class="home-content")
    div(class="home-title")
      h1 Welcome to the My Samples
    div(class="sample-area") 
      each item, index in sampleTitle
        a(href=sampleHref[index])
          div(class="sample-item")
            span= item